.main{

  justify-content: center;
}



.box{

    display: inline-block;
    position: relative;
    margin: 30px 10px;
    left: 70ev;
    right: 70ev;
    width: 180px;
    height: 180px;
    background-color: darkorange;
}

.with-triangle::after{

    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: darkorange;
    top: -10px;
    left: 45%;
    border-top: darkorange 2px;
    border-left: darkorange 2px;
    transform: rotate(45deg);
  }
.with-circle::after {

    content: '';
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: darkorange;
    position: absolute;
    top: -15px;
    left: 40%;

}